---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import { utilityGraph, utilityGraphMobile } from "../images";

const metaData = {
  title: "How It All Works | Conserve Energy",
  description:
    "We'll walk you through step-by-step on how we help you lower your out-of-pocket costs to do your energy efficieny upgrades.",
};
---

<Layout title={metaData.title} metaDescription={metaData.description}>
  <div class="flex-col justify-center items-center">
    <div class="w-full flex flex-col items-center">
      <p class="caption mb-4">How it Works</p>
      <h2
        class="max-container text-center w-1/2 max-sm:text-xl max-lg:w-full max-md:text-2xl max-lg:text-3xl"
      >
        A visual guide to the benefits of energy efficiency
      </h2>
    </div>

    <!-- How it works div -->

    <section class="bg-bone rounded-lg shadow-2xl">
      <div class="my-10 p-6">
        <h3 class="capitalize text-center py-10">Our Process</h3>
        <p class="body text-center mb-5 text-body-color">
          Conserve Energy offers complete turnkey energy efficiency upgrades. As
          you move forward with a project, we provide these services:
        </p>

        <div class="max-w-7xl mx-auto w-full px-2 p-8">
          <!-- Stack 1 -->
          <div class="flex max-sm:flex-row-reverse max-sm:gap-4">
            <div class="col-span-4 w-full pb-10">
              <div class="w-full shadow-2xl rounded-xl p-6 md:pl-4 bg-white">
                <h5 class="uppercase py-2">1. audit</h5>
                <p class="body text-body-color">
                  Conserve Energy conducts a thorough energy audit so we may
                  intelligently advise you.
                </p>
              </div>
            </div>
            <div class="relative w-1/2 max-sm:w-12 pt-12 flex justify-center">
              <div class="h-full w-2 bg-gray"></div>
              <div
                class="absolute w-12 h-12 rounded-full bg-caption-color z-10 text-white text-center flex justify-center items-center max-sm:w-8 max-sm:h-8"
              >
                <span class="material-symbols-outlined text-4xl max-sm:text-xl">
                  inventory</span
                >
              </div>
            </div>
            <div class="col-span-4 w-full h-full max-sm:hidden"></div>
          </div>
          <!-- Stack 2 -->
          <div class="flex max-sm:gap-4">
            <div class="col-span-4 w-full h-full max-sm:hidden"></div>
            <div
              class="relative w-1/2 max-sm:w-12 flex justify-center items-center"
            >
              <div class="h-full w-2 bg-gray"></div>
              <div
                class="absolute w-12 h-12 rounded-full bg-caption-color z-10 text-white text-center flex justify-center items-center max-sm:w-8 max-sm:h-8"
              >
                <span class="material-symbols-outlined text-4xl max-sm:text-xl">
                  description</span
                >
              </div>
            </div>
            <div class="col-span-4 w-full py-10">
              <div
                class="w-full h-full shadow-2xl rounded-xl p-6 md:pl-4 bg-white"
              >
                <h5 class="uppercase py-2">2. proposal</h5>
                <p class="body text-body-color">
                  We prepare a proposal for potential upgrades & retrofits to
                  improve your energy efficiency
                </p>
              </div>
            </div>
          </div>
          <!-- Stack 3 -->
          <div class="flex max-sm:flex-row-reverse max-sm:gap-4">
            <div class="col-span-4 w-full py-10">
              <div
                class="w-full h-full shadow-2xl rounded-xl p-6 md:pl-4 bg-white"
              >
                <h5 class="uppercase py-2">3. submit application</h5>
                <p class="body text-body-color">
                  We process & submit the application to your energy provider
                  and get a commitment for incentives prior to starting work.
                </p>
              </div>
            </div>
            <div
              class="relative w-1/2 max-sm:w-12 flex justify-center items-center"
            >
              <div class="h-full w-2 bg-gray"></div>
              <div
                class="absolute w-12 h-12 rounded-full bg-caption-color z-10 text-white text-center flex justify-center items-center max-sm:w-8 max-sm:h-8"
              >
                <span class="material-symbols-outlined text-4xl max-sm:text-lg"
                  >forward_to_inbox</span
                >
              </div>
            </div>
            <div class="col-span-4 w-full h-full max-sm:hidden"></div>
          </div>

          <!-- Stack 4 -->
          <div class="flex max-sm:gap-4">
            <div class="col-span-4 w-full h-full max-sm:hidden"></div>
            <div
              class="relative w-1/2 flex justify-center items-center max-sm:w-12"
            >
              <div class="h-full w-2 bg-gray"></div>
              <div
                class="absolute w-12 h-12 rounded-full bg-caption-color z-10 text-white text-center flex justify-center items-center max-sm:w-8 max-sm:h-8"
              >
                <span class="material-symbols-outlined text-4xl max-sm:text-xl"
                  >local_shipping</span
                >
              </div>
            </div>
            <div class="col-span-4 w-full py-10">
              <div
                class="w-full h-full shadow-2xl rounded-xl p-6 md:pl-4 bg-white"
              >
                <h5 class="uppercase py-2">4. Order parts</h5>
                <p class="body text-body-color">
                  Upon review & approval of the application, Conserve Energy
                  orders parts—top quality, always at competitive pricing.
                </p>
              </div>
            </div>
          </div>
          <!-- Stack 5 -->
          <div class="flex max-sm:flex-row-reverse max-sm:gap-4">
            <div class="col-span-4 w-full py-10">
              <div
                class="w-full h-full shadow-2xl rounded-xl p-6 md:pl-4 bg-white"
              >
                <h5 class="uppercase py-2">5. installation</h5>
                <p class="body text-body-color">
                  We schedule installation and deal with highly qualified
                  contractors for you. All installations include materials,
                  labor & disposal.
                </p>
              </div>
            </div>
            <div
              class="relative w-1/2 max-sm:w-12 flex justify-center items-center"
            >
              <div class="h-full w-2 bg-gray"></div>
              <div
                class="absolute w-12 h-12 rounded-full bg-caption-color z-10 text-white text-center flex justify-center items-center max-sm:w-8 max-sm:h-8"
              >
                <span class="material-symbols-outlined text-4xl max-sm:text-lg">
                  construction
                </span>
              </div>
            </div>
            <div class="col-span-4 w-full h-full max-sm:hidden"></div>
          </div>
          <!-- Stack 6 -->
          <div class="flex max-sm:gap-4">
            <div class="col-span-4 w-full h-full max-sm:hidden"></div>
            <div
              class="relative w-1/2 flex justify-center items-end pb-12 max-sm:w-12"
            >
              <div class="w-2 bg-gray pb-5 h-full"></div>
              <div
                class="absolute w-12 h-12 rounded-full bg-caption-color z-10 text-white text-center flex justify-center items-center max-sm:w-8 max-sm:h-8"
              >
                <span class="material-symbols-outlined text-4xl max-sm:text-xl">
                  check</span
                >
              </div>
            </div>
            <div class="col-span-4 w-full pt-10">
              <div
                class="w-full h-full shadow-2xl rounded-xl p-6 md:pl-4 bg-white"
              >
                <h5 class="uppercase py-2">6. follow-up</h5>
                <p class="body">
                  Upon completion, we submit the final paperwork to your energy
                  provider for incentive reimbursement.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Incentives -->

    <section class="flex items-center flex-col max-xl:px-4">
      <h3 class="capitalize text-center py-10 w-1/2 max-lg:w-full">
        The incentives behind energy utility incentives
      </h3>
      <p class="body text-center mb-5 w-">
        Utility Companies must meet energy demand from all users … all the time.
        <br /> They have multiple options to meet this requirement, but offering
        incentives to drive energy efficiency is usually the lowest cost.
      </p>

      <div class="border-t-2 opacity-25 w-full pb-6"></div>


<div class=""> 
      <Image
      src={utilityGraphMobile}
      alt="UtilityGraphMobileImage"
      class="hidden max-sm:block rounded-lg shadow-2xl"
      />

      <div class="relative flex justify-center top-20 w-full max-lg:top-16 max-md:top-8 max-sm:hidden">

      <!-- Hover 2 -->

      <span class="relative flex h-6 w-6 left-[1%]">
        <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-white opacity-75 "></span>
        <span class="relative inline-flex rounded-full h-6 w-6 bg-white">
          <p class="text-base flex justify-center items-center w-full">2</p>
        </span>
      </span> 

      <!-- Hover 3 -->
      <span class="relative flex h-6 w-6 left-[13.5%]">
        <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-white opacity-75"></span>
        <span class="relative inline-flex rounded-full h-6 w-6 bg-white">
          <p class="text-base flex justify-center items-center w-full">3</p>
        </span>
      </span> 

          <!-- Hover 4 -->
      <span class="relative flex h-6 w-6 left-[25%]">
        <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-white opacity-75 "></span>
        <span class="relative inline-flex rounded-full h-6 w-6 bg-white">
          <p class="text-base flex justify-center items-center w-full">4</p>
        </span>
      </span> 
    </div>
      <Image
        src={utilityGraph}
        alt="utilityGraph"
        class="flex justify-center shadow-2xl rounded-lg max-sm:hidden"
        />

        <span class="relative flex h-6 w-6 bottom-20 left-[40%] max-sm:hidden">
          <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-white opacity-75 "></span>
          <span class="relative inline-flex rounded-full h-6 w-6 bg-white">
            <p class="text-base flex justify-center items-center w-full">1</p>
          </span>
        </span> 
  </div>
      <div
        class="w-full flex justify-between max-md:flex-col py-4 gap-4"
      >
        <div class="w-1/2 max-md:w-full rounded-2xl shadow-2xl p-4">
          <h4 class="caption uppercase py-5">what company utilities do</h4>
          <p class="text-body-color">
            Reducing demand through improved energy efficiency is the most
            cost-effective way for utilities to assure they have sufficient
            capacity to meet the needs of all customers.
          </p>
        </div>
        <div class="max-md:w-full rounded-2xl shadow-2xl p-4">
          <h4 class="caption uppercase py-5">what conserve energy does</h4>
          <li class="text-body-color">
            We make sure you receive maximum incentives
          </li>
          <li class="text-body-color">
            Work closely with your energy provider
          </li>
          <li class="text-body-color">
            Typical incentives range from 40-70% of project cost
          </li>
        </div>
      </div>
    </section>
    

    <!-- ROI -->
    <section class="flex flex-col shadow-2xl rounded-lg bg-bone pb-6">
      <div class="p-6 bg-bone rounded-t-lg">
        <h3 class="capitalize text-center py-10">The energy retrofit ROI</h3>
        <p class="body text-center mb-5">
          Energy efficiency retrofits pay back your investment primarily by
          reducing your energy costs
        </p>
      </div>

      <div class="border-t-2 opacity-25 mx-4 pb-6"></div>

      <div class="flex justify-between gap-4 max-md:flex-col p-4">
        <!-- Stack 1 -->
        <div class="w-1/2 max-md:w-full p-4 shadow-2xl rounded-lg bg-white">
          <span
            class="material-symbols-outlined text-4xl max-sm:text-xl bg-caption-color text-white rounded-full w-12 h-12 flex items-center justify-center"
          >
            stylus</span
          >

          <h4 class="caption uppercase py-5">what company utilities do</h4>
          <p class="text-body-color">
            Reducing demand through improved energy efficiency is the most
            cost-effective way for utilities to assure they have sufficient
            capacity to meet the needs of all customers.
          </p>
        </div>
        <!-- Stack 2 -->
        <div class="w-1/2 max-md:w-full p-4 shadow-2xl rounded-lg bg-white">
          <span
            class="material-symbols-outlined text-4xl max-sm:text-xl bg-caption-color text-white rounded-full w-12 h-12 flex items-center justify-center"
          >
            assignment_returned</span
          >

          <h4 class="caption uppercase py-5">quick payback period</h4>
          <p class="text-body-color">
            Conserve Energy’s customers typically recover their investment within 2 years. After that, it’s all additional profit at the bottom line
          </p>
        </div>
        <!-- Stack 3 -->
        <div class="w-1/2 max-md:w-full p-4 shadow-2xl rounded-lg bg-white">
          <span
            class="material-symbols-outlined text-4xl max-sm:text-xl bg-caption-color text-white rounded-full w-12 h-12 flex items-center justify-center"
          >
            currency_exchange</span
          >

          <h4 class="caption uppercase py-5">additional roi</h4>
          <p class="text-body-color">
            When retrofits include LED lighting, expect significant savings on maintenance, and potential improvements in sales, productivity and safety from enhanced lighting.
          </p>
        </div>
        <!-- Stack 4 -->
        <div class="w-1/2 max-md:w-full p-4 shadow-2xl rounded-lg bg-white">
          <span
            class="material-symbols-outlined text-4xl max-sm:text-xl bg-caption-color text-white rounded-full w-12 h-12 flex items-center justify-center"
          >
            construction</span
          >
          <h4 class="caption uppercase py-5">better business valuation</h4>
          <p class="text-body-color">
            Since improved energy efficiency increases profitability by reducing operating costs, business valuations often rise, an important point for those considering a sale or refinance.
          </p>
        </div>
      </div>
    </section>
  </div>
</Layout>

<style>
  * {
    /* border: 1px solid red; */
  }

  .material-symbols-outlined {
    font-variation-settings:
      "FILL" 0,
      "wght" 400,
      "GRAD" 0,
      "opsz" 24;
  }
</style>
