---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Conserve Energy | How It Works">
    <section>
        <div class="flex-col justify-center items-center">
            <div class="text-center w-full">
                <h1>A visual guide to the benefits of energy efficiency</h1>
            </div>
            <div class="my-10 p-6">
                <h4 class="capitalize text-center py-10">
                    how conserve energy works
                </h4>
                <div class="max-w-7xl mx-auto w-full grid grid-cols-9 px-2 p-6">
                    <!-- Stack 1 -->
                    <div class="col-span-4 w-full h-full">
                        <div
                            class="w-full h-full shadow-2xl rounded-xl p-6 md:pl-4"
                        >
                            <h5 class="uppercase py-2">1. audit</h5>
                            <p class="body">
                                Conserve Energy conducts a thorough energy audit
                                so we may intelligently advise you.
                            </p>
                        </div>
                    </div>
                    <div
                        class="relative col-span-1 w-full h-full flex justify-center items-center"
                    >
                        <div class="h-full w-1 bg-gray"></div>
                        <div
                            class="absolute w-12 h-12 rounded-full bg-caption-color z-10 text-white text-center flex justify-center items-center"
                        >
                            <span class="material-symbols-outlined text-4xl">
                                electric_bolt
                            </span>
                        </div>
                    </div>
                    <div class="col-span-4 w-full h-full"></div>

                    <!-- Stack 2 -->
                    <div class="col-span-4 w-full h-full"></div>
                    <div
                        class="relative col-span-1 w-full h-full flex justify-center items-center"
                    >
                        <div class="h-full w-1 bg-gray"></div>
                        <div
                            class="absolute w-12 h-12 rounded-full bg-caption-color z-10 text-white text-center flex justify-center items-center"
                        >
                            <span class="material-symbols-outlined text-4xl">
                                description
                            </span>
                        </div>
                    </div>
                    <div class="col-span-4 w-full h-full">
                        <div
                            class="w-full h-full shadow-2xl rounded-xl p-6 md:pl-4"
                        >
                            <h5 class="uppercase py-2">2. proposal</h5>
                            <p class="body">
                                We prepare a proposal for potential upgrades &
                                retrofits to improve your energy efficiency
                            </p>
                        </div>
                    </div>

                    <!-- Stack 3 -->
                    <div class="col-span-4 w-full h-full">
                        <div
                            class="w-full h-full shadow-2xl rounded-xl p-6 md:pl-4"
                        >
                            <h5 class="uppercase py-2">3. submit application</h5>
                            <p class="body">
                                We process & submit the application to your energy provider and get a commitment for incentives prior to starting work.
                            </p>
                        </div>
                    </div>
                    <div
                        class="relative col-span-1 w-full h-full flex justify-center items-center"
                    >
                        <div class="h-full w-1 bg-gray"></div>
                        <div
                            class="absolute w-12 h-12 rounded-full bg-caption-color z-10 text-white text-center flex justify-center items-center"
                        >
                            <span class="material-symbols-outlined text-4xl">
                                favorite
                            </span>
                        </div>
                    </div>
                    <div class="col-span-4 w-full h-full"></div>
                </div>
            </div>
        </div>
    </section>
    <style>
        * {
            /* border: 1px solid red; */
        }

        .material-symbols-outlined {
            font-variation-settings:
                "FILL" 0,
                "wght" 400,
                "GRAD" 0,
                "opsz" 24;
        }
    </style>
</Layout>
