---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
const heroContent = {
  caption: "Power Up Your Business",
  imagePath: "../src/images/homeHero.jpg",
  title: "Illuminate Smarter and Save Bigger",
  text: `Your unique energy solution begins with a consultation. See how we’ve helped thousands of businesses discover the brilliance of customized energy efficiency—schedule your consultation now.`,
};
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero
      title={heroContent.title}
      text={heroContent.text}
      caption={heroContent.caption}
      imagePath={heroContent.imagePath}
    />
  </main>
</Layout>
