---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Conserve Energy | Thanks">
  <section>
    <div class="px-4 h-[60vh]">
      <h2 class="text-center my-8">Success!</h2>
      <p class="text-center body">
        Thank you for writing to us! We will get in touch as soon as we get
        this!
      </p>
    </div>
  </section>
</Layout>
