---

---

<footer>
  <div class="container">
    <div class="logo-wrapper"></div>
    <div class="links-wrapper">
      <div class="navLinks flex gap-4">
        <a href="">Services</a>
        <a href="">Results</a>
        <a href="/ConserveEnergy/about">About</a>
        <a href="">Contact</a>
      </div>
    </div>
    <div class="contact-info">
      <div class="flex items-center">
        <span class="material-symbols-outlined"> call</span>
        <p class="ml-4">(800)757-3469</p>
      </div>
      <div class="flex items-center">
        <span class="material-symbols-outlined"> mail</span>
        <p class="ml-4">info@ezmetro.com</p>
      </div>
    </div>
  </div>
  <div class="copyright"></div>
</footer>

<style>
  footer {
    background-color: black;
    color: white;
  }

  .material-symbols-outlined {
    font-variation-settings:
      "FILL" 0,
      "wght" 400,
      "GRAD" 0,
      "opsz" 24;
  }
</style>
