---
import { Image } from "astro:assets";
import logo from "../images/logoBW.svg";
---

<footer>
  <div class="body max-w-[1192px] mx-auto py-12">
    <div class="flex justify-between max-lg:flex-col lg:flex-row max-xl:px-7">
      <a href="/ConserveEnergy">
        <Image src={logo} alt="LogoB&W" class="object-cover" width={203} />
      </a>

      <!-- Navlinks -->
      <div
        class="flex items-start justify-center gap-12 text-bone max-lg:flex-col max-xl:gap-4 max-xl:px-8 max-lg:py-8"
      >
        <a
          class="group transition-all duration-300 ease-in-out hover:-translate-y-1"
          href="/ConserveEnergy/services"
        >
          <span
            class="bg-left-bottom bg-gradient-to-r from-gray to-gray bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
          >
            Services
          </span>
        </a>
        <a
          class="group transition-all duration-300 ease-in-out hover:-translate-y-1"
          href="/ConserveEnergy/HIW"
        >
          <span
            class="bg-left-bottom bg-gradient-to-r from-gray to-gray bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
          >
            How It Works
          </span>
        </a>
        <a
          class="group transition-all duration-300 ease-in-out hover:-translate-y-1"
          href="/ConserveEnergy/about"
        >
          <span
            class="bg-left-bottom bg-gradient-to-r from-gray to-gray bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
          >
            About Us
          </span>
        </a>
      </div>

      <!-- Contact info -->
      <div class="flex-col flex max-lg:py-4">
        <div class="flex items-center mb-4 gap-4">
          <span class="material-symbols-outlined"> call</span>
          <p class="text-white">(800)757-3469</p>
        </div>
        <div class="flex items-center gap-4">
          <span class="material-symbols-outlined"> mail</span>
          <p class="text-white">
            <a href="mailto:info@ezmetro.com">info@ezmetro.com</a>
          </p>
        </div>
      </div>

      <!-- Copyright -->
    </div>
    <div>
      <p class="text-gray text-center max-xl:mt-4">
        ©Copyright. All rights reserved. ConserveEnergy2023
      </p>
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: #111121;
    color: white;
  }

  .material-symbols-outlined {
    font-variation-settings:
      "FILL" 0,
      "wght" 400,
      "GRAD" 0,
      "opsz" 24;
  }
</style>
