---
import { Image } from "astro:assets";
import logo from "../images/logoBW.svg";
---

<footer class="body">
  <section class="py-12">
    <div
      class="container flex flex-col md:flex-row items-center justify-between mb-4"
    >
      <div class="logo-wrapper">
        <Image class="fill-white-400" src={logo} alt="logo" width="203" />
      </div>
      <div class="links-wrapper">
        <div class="navLinks flex gap-16">
          <a href="">Services</a>
          <a href="">Results</a>
          <a href="/ConserveEnergy/about">About</a>
          <a href="">Contact</a>
        </div>
      </div>
      <div class="contact-info">
        <div class="flex items-center mb-4">
          <span class="material-symbols-outlined"> call</span>
          <p class="ml-4">(800)757-3469</p>
        </div>
        <div class="flex items-center">
          <span class="material-symbols-outlined"> mail</span>
          <p class="ml-4">info@ezmetro.com</p>
        </div>
      </div>
    </div>
    <div class="copyright flex justify-center text-gray-400">
      <p>©Copyright. All rights reserved.ConserveEnergy2023</p>
    </div>
  </section>
</footer>

<style>
  footer {
    background-color: black;
    color: white;
  }

  .material-symbols-outlined {
    font-variation-settings:
      "FILL" 0,
      "wght" 400,
      "GRAD" 0,
      "opsz" 24;
  }
</style>
