---
import ScheduleButton from "./ScheduleButton.astro";
import bulb from "../images/LED-bulb.png";
---

<section class="hero-container flex justify-center items-center gap-16">
  <div class="hero-left flex-1">
    <div class="hero-text flex flex-col gap-6 mb-10">
      <h4 class="caption">About Us</h4>
      <h1>Improving your energy efficiency</h1>
      <p class="body">
        At Conserve Energy, we're not just consultants; we're your partners in
        achieving energy efficiency. Discover the team and values that drive us
        to be pioneers in delivering sustainable solutions for your business.
      </p>
    </div>
    <ScheduleButton />
  </div>
  <div class="hero-right flex-1 aspect-square">
    <div class="hero-image-wrapper w-full h-full rounded-3xl"></div>
  </div>
</section>

<style>
  .hero-image-wrapper {
    background-image: url(../images/LED-bulb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 45%;
    /* width: 30rem;
    height: 36rem; */
  }
</style>
