---
import Button from "./Button.astro";
import logo from "../images/CE-Logo.svg";
import { Image } from "astro:assets";
import hamburger from "../images/hamburgerIcon.svg";
---

<nav
  class="max-w-7xl mx-auto flex items-center justify-between max-lg:flex mb-10 max-container max-xl:px-5"
>
  <a href="/ConserveEnergy">
    <Image src={logo} alt="Logo" width={203} height={26} />
  </a>

  <p class="flex items-center justify-center gap-20 max-lg:hidden">
    <a
      class="group transition-all duration-300 ease-in-out hover:-translate-y-1"
      href="/ConserveEnergy/services"
    >
      <span
        class="bg-left-bottom bg-gradient-to-r from-caption-color to-caption-color bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
      >
        Services
      </span>
    </a>
    <a
      class="group transition-all duration-300 ease-in-out hover:-translate-y-1"
      href="/ConserveEnergy/results"
    >
      <span
        class="bg-left-bottom bg-gradient-to-r from-caption-color to-caption-color bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
      >
        Results
      </span>
    </a>
    <a
      class="group transition-all duration-300 ease-in-out hover:-translate-y-1"
      href="/ConserveEnergy/about"
    >
      <span
        class="bg-left-bottom bg-gradient-to-r from-caption-color to-caption-color bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
      >
        About
      </span>
    </a>
    <a
      class="group transition-all duration-300 ease-in-out hover:-translate-y-1"
      href="/ConserveEnergy/contact"
    >
      <span
        class="bg-left-bottom bg-gradient-to-r from-caption-color to-caption-color bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
      >
        Contact
      </span>
    </a>
  </p>
  <div class="max-lg:hidden">
    <Button id="scheduleBtn" isfilled theme="white">Contact us</Button>
  </div>

  <div class="hidden max-lg:block">
    <Image src={hamburger} alt="Hamburger" width={25} height={25} />
  </div>
</nav>
