---
import ScheduleButton from "./ScheduleButton.astro";
import logo from "../images/CE-Logo.svg";
---

<nav class="flex items-center justify-between">
  <div class="logo"><a href="/"><img src={logo.src} /></a></div>
  <div class="navLinks flex gap-4">
    <a href="">Services</a>
    <a href="">Results</a>
    <a href="/about">About</a>
    <a href="">Contact</a>
  </div>
  <ScheduleButton class="ml-auto" />
</nav>
