---
import ScheduleButton from "./ScheduleButton.astro";
import logo from "/public/CE-Logo.svg";
---

<nav>
  <div class="logo"><img src="/public/CE-Logo.svg" /></div>
  <div class="navLinks">
    <a href="">Services</a>
    <a href="">Results</a>
    <a href="">About</a>
    <a href="">Contact</a>
  </div>
  <ScheduleButton />
</nav>
