---
import Button from "./Button.astro";
import logo from "../images/CE-Logo.svg";
import { Image } from "astro:assets";
---

<nav
  class="bg-[--accent-color] fixed w-full z-20 top-0 start-0 border-gray-200 max-md:bg-bone"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto max-md:pb-4 px-4"
  >
    <a href="/ConserveEnergy">
      <Image src={logo} alt="Logo" width={203} height={26} />
    </a>

    <!-- Contact button -->
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <div class="max-md:hidden">
        <a href="/ConserveEnergy/contact"
          ><Button id="scheduleBtn" isfilled theme="white">
            Contact us
          </Button></a
        >
      </div>

      <!-- Hamburger -->
      <button
        data-collapse-toggle="navbar-cta"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-caption-color"
        aria-controls="navbar-cta"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <div class="hidden max-lg:block">
          <span class="material-symbols-outlined"> menu</span>
        </div>
      </button>
    </div>

    <!-- Navlinks -->
    <div
      class="items-center justify-between hidden lg:flex lg:w-auto lg:order-1 w-full"
      id="navbar-cta"
    >
      <ul
        class="flex flex-col font-medium p-4 lg:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 lg:space-x-8 rtl:space-x-reverse lg:flex-row lg:mt-0 lg:border-0 dark:bg-gray-800 lg:dark:bg-gray-900 gap-2"
      >
        <li>
          <a
            href="/ConserveEnergy/services"
            class="block py-2 px-3 lg:p-0 max-lg:hover:text-white max-md:hover:bg-caption-color rounded md:bg-transparent group transition-all duration-300 ease-in-out hover:-translate-y-1"
            aria-current="page"
          >
            <span
              class="bg-left-bottom md:bg-gradient-to-r from-caption-color to-caption-color bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
            >
              Services
            </span>
          </a>
        </li>

        <li>
          <a
            href="/ConserveEnergy/HIW"
            class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent group transition-all duration-300 ease-in-out hover:-translate-y-1 max-md:hover:text-white max-md:hover:bg-caption-color"
            aria-current="page"
          >
            <span
              class="bg-left-bottom md:bg-gradient-to-r from-caption-color to-caption-color bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out capitalize"
            >
              how it works
            </span>
          </a>
        </li>

        <li>
          <a
            href="/ConserveEnergy/about"
            class="block py-2 px-3 md:p-0 rounded hover:bg-gray-100 md:hover:bg-transparent group transition-all duration-300 ease-in-out hover:-translate-y-1 max-md:hover:text-white max-md:hover:bg-caption-color"
          >
            <span
              class="bg-left-bottom md:bg-gradient-to-r from-caption-color to-caption-color bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out capitalize"
            >
              About us
            </span>
          </a>
        </li>

        <li>
          <a
            href="/ConserveEnergy/contact"
            class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent group transition-all duration-300 ease-in-out hover:-translate-y-1 max-md:hover:text-white max-md:hover:bg-caption-color"
          >
            <span
              class="bg-left-bottom md:bg-gradient-to-r from-caption-color to-caption-color bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out capitalize"
            >
              Results
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  .material-symbols-outlined {
    font-variation-settings:
      "FILL" 0,
      "wght" 400,
      "GRAD" 0,
      "opsz" 24;
  }

  * {
    /* border: 1px solid red; */
  }
</style>
