---
interface Props {
  title: string;
}

import Navbar from "../components/Navbar.astro";
import "@fontsource-variable/roboto-slab";
import "@fontsource/roboto";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --body-color: #3a3a3a;
    --caption-color: #e06127;
    --accent-color: #f8f5ed;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  #root,
  #__next {
    isolation: isolate;
  }
  html {
    font-family: "Roboto Slab Variable", "Roboto", system-ui, sans-serif;
    background: #fff;
    background-size: 224px;
  }

  h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 72.8px;
  }
  h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
  }
  h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
  }
  h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
  }

  .caption {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: var(--caption-color);
  }

  .body,
  button {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 24px;
  }

  section {
    margin: 3rem auto;
    max-width: 1280px;
  }
</style>
