---
interface Props {
  title: string;
}

import Navbar from "../components/Navbar.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --body-color: #3a3a3a;
    --caption-color: #e06127;
    --accent-color: #f8f5ed;
  }
  html {
    font-family: system-ui, sans-serif;
    background: #fff;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 72.8px;
  }
  h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
  }
  h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
  }
  h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
  }

  .caption {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: var(--caption-color);
  }

  .body {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  section {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
  }
</style>
